<% @patient.doctors.each do |doctor| %>
  <%= link_to doctor.name, doctor_path(doctor) %>
<% end %>

<% @patient.appointments.each do |appointment| %>
  <p><%= appointment.appointment_datetime.strftime("%B %d, %Y") %> at <%= appointment.appointment_datetime.strftime("%H:%M") %>  </p>
<% end %>
